.generic-content-container{
	p{
		font-weight: 300;
		line-height: 1.65;/*prostor med vrsticami ne potrebujemo enote za merilom*/
		margin: 0 0 1.8rem 0;/*top right bottom left proti urinem kazalcu*/
	}

	@mixin atSmall{
		font-size: 1.125rem;
	}

	p a{
		font-weight: 700;/*400 - normalno extra bold - 700*/
	}
}