.generic-content-container{
	p{
		line-height: 1.65;/*prostor med vrsticami ne potrebujemo enote za merilom*/
		margin: 1.8rem 0;
	}
	@mixin atSmall{
				font-size: 1.125rem;
	}

	p a{
		font-weight: 700;/*400 - normalno extra bold - 700*/

	}
}